body
    {
background-color: powderblue;
text-align: left;
font-family:'Times New Roman', Times, serif;
font-size: 150%;
}
p {
color: blue;
font-family: 'Times New Roman', Times, serif
font-optical-sizing: auto;
font-style: normal;
margin: top 50px;
}

h2 {
  font-size: 1em;
  color : lavender;
  margin-top: -20px;
}
img{
display: block;
margin: 30px auto;
border-radius: 20px;
}
